body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 20px 60px;
    overflow-x: hidden
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #008080;
    margin-bottom: 10px;
    border-bottom: 2px solid #008080;
    padding-bottom: 5px;
}

h1 {
    color: #008080;;
}

.skill-category h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 5px;
}

.skill-category p {
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
}

p {
    color: #333;
}

#about img {
    cursor: zoom-in;
    width: 20%;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1% 10%;
    list-style: none;
    font-size: 18px;
}

.navigation li a {
    text-decoration: none;
    color: inherit;
}

.skills-section {
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .about img {
        width: 50%;
    }

    .navigation ul {
        flex-direction: column;
        padding: 0;
    }

    aside pre {
        display: none;
    }

    footer {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .about img {
        width: 30%;
    }

    footer {
        display: none;
    }
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    border: 2px solid #008080;
    padding: 10px;
}

.grid-header {
    font-weight: bold;
    text-transform: uppercase;
    color: #008080;
    padding: 10px;
    text-align: center;
}

.grid-table div {
    padding: 10px;
    border: 1px solid #008080;
}

.grid-table div:nth-child(3n+1), .grid-table div:nth-child(3n+2), .grid-table div:nth-child(3n+3) {
    background-color: #f0f8f8;
}

.grid-table div:nth-child(6n+1), .grid-table div:nth-child(6n+2), .grid-table div:nth-child(6n+3) {
    background-color: #ffffff;
}

.navigation ul li a:hover {
    color: #008080;
    text-decoration: underline;
}

.navigation ul li a.active {
    font-weight: bold;
    color: #008080;
    text-decoration: underline;
}

.constr-container {
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.interview-header-row {
    display: contents;
    font-weight: bold;
    color: #008080;
    text-align: center;
    padding: 10px;
}

.interview-row {
    display: contents;
    text-align: center;
    color: #555;
}

.interview-row div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}



